FILTRARE DATI:
- uguale, diverso, in, str.contains, ><, &, |, ~
- query, loc

In [1]:
import pandas as pd

df = pd.read_csv("pokemon.csv")

In [ ]:
#UGUALE
#quella interna è la condizione. Questa sintassi è ottimale quando abbiamo una sola colonna
print(df[df.Name == "Bulbasaur"])

   ID       Name Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  \
0   1  Bulbasaur  Grass  Poison    318  45      49       49       65       65

   Speed  Generation  Legendary
0     45           1      False

In [6]:
#DIVERSO
(df[df.Name != "Bulbasaur"])

,ID,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [ ]:
#STR.CONTAINS
#ci filtra nella colonna per quei valori che hanno una parte di stringa che vogliamo noi
#per questo dobbiamo usare dataframe["nomecolonna"]

df[df["Name"].str.contains("saur")]

,ID,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False

In [ ]:
#CON FILTRO + ISIN
#ci da solo le righe che hanno quel nome
filtro = ["Bulbasaur", "Squirtle"]
df[df["Name"].isin(filtro)]

,ID,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [ ]:
#MAGGIORE (MINORE ANALOGO)
df[df["Total"] > 700]

,ID,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
552,493,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,True

In [ ]:
#Usiamo la ~ : ci da il contrario di quello che richiede la condizione
df[~df["Total"] < 200] #restituice tutti quelli sopra a 200 di Total

,ID,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [11]:
#Usiamo AND &
df[(df["Total"] > 700) & (df["Sp. Atk"] > 160)] #occhio alle parentesi!

,ID,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True

In [14]:
#Usiamo OR |
df[(df["Total"] > 760) | (df["Total"] < 250)] #occhio alle parentesi!

,ID,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
46,41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False
139,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
175,161,Sentret,Normal,NaN,215,35,46,34,35,45,20,2,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
187,173,Cleffa,Fairy,NaN,218,50,25,28,45,55,15,2,False
188,174,Igglybuff,Normal,Fairy,210,90,30,15,40,20,15,2,False
189,175,Togepi,Fairy,NaN,245,35,20,65,40,65,20,2,False
206,191,Sunkern,Grass,NaN,180,30,30,30,30,30,30,2,False
209,194,Wooper,Water,Ground,210,55,45,45,25,25,15,2,False
255,236,Tyrogue,Fighting,NaN,210,35,35,35,35,35,35,2,False
284,261,Poochyena,Dark,NaN,220,35,55,35,30,30,35,3,False
286,263,Zigzagoon,Normal,NaN,240,38,30,41,30,41,60,3,False
288,265,Wurmple,Bug,NaN,195,45,45,35,20,30,20,3,False
289,266,Silcoon,Bug,NaN,205,50,35,55,25,25,15,3,False
291,268,Cascoon,Bug,NaN,205,50,35,55,25,25,15,3,False
293,270,Lotad,Water,Grass,220,40,30,30,40,50,30,3,False
296,273,Seedot,Grass,NaN,220,40,40,50,30,30,30,3,False
303,280,Ralts,Psychic,Fairy,198,28,25,25,45,35,40,3,False
316,292,Shedinja,Bug,Ghost,236,1,90,45,30,30,40,3,False
317,293,Whismur,Normal,NaN,240,64,51,23,51,23,28,3,False
320,296,Makuhita,Fighting,NaN,237,72,60,30,20,30,25,3,False
322,298,Azurill,Normal,Fairy,190,50,20,40,20,40,20,3,False
381,349,Feebas,Water,NaN,200,20,15,20,10,55,80,3,False
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
441,396,Starly,Normal,Flying,245,40,55,30,30,30,60,4,False
446,401,Kricketot,Bug,NaN,194,37,25,41,25,41,25,4,False
457,412,Burmy,Bug,NaN,224,40,29,45,29,45,36,4,False
462,415,Combee,Bug,Flying,244,30,30,42,30,42,70,4,False
488,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False
727,659,Bunnelby,Normal,NaN,237,38,36,38,32,36,57,6,False
732,664,Scatterbug,Bug,NaN,200,38,35,40,27,25,35,6,False
733,665,Spewpa,Bug,NaN,213,45,22,60,27,30,29,6,False
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False

In [ ]:
#usiamo LOC
#filtriamo le righe e non le colonne! E occhio alle parentesi!
df.loc[(df["Name"] == "Bulbasaur")] #ci da la riga la cui colonna Name == "Bulbasaur"

,ID,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False

In [ ]:
df.loc[(df["Name"] == "Bulbasaur"), ["HP", "Name", "Generation"]] 
#ci da la riga la cui colonna Name == "Bulbasaur" con solo le colonne che vogliamo. Vale anche per altri filtri

   HP       Name  Generation
0  45  Bulbasaur           1

In [ ]:
#usiamo QUERY  
# basta mettere la condizione tra tonde e occhio con le stringhe alle virgolette 
# Problema con query: non possiamo usare colonne il cui nome contiene spazi vuoti!
# Dobbiamo eliminarli in qualche modo 
df.query('Name == "Bulbasaur"') 
df.query('Total > 750')

In [19]:
df.query('Total > 750 and Speed > 100')

,ID,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True