INTRODUZIONE A PANDAS

In [1]:
import pandas as pd #di solito viene importato cos√¨

CREIAMO UN DATASET

Partendo da un dataset, in questo caso un dizionario, come ds(sotto) e usando pd.DataFrame(ds) creiamo un data frame di pandas

In [2]:
ds = {
    "Mesi": ["Gennaio", "Febbraio", "Marzo", "Aprile", "Maggio"],
    "Giorni": [31, 28, 31, 30, 31]
}

df = pd.DataFrame(ds)
df

       Mesi  Giorni
0   Gennaio      31
1  Febbraio      28
2     Marzo      31
3    Aprile      30
4    Maggio      31