LOC E iLOC:
- loc: riga, cella, più righe e più colonne
- iloc

In [4]:
import pandas as pd
df = pd.read_csv("pokemon.csv", index_col = 1) #così si prende la colonna 1 come colonna che da l'indice alla riga
df

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True

LOC: localization cioè andare a prendere degli elementi

Loc usa due elementi: il numero della riga e il nome della colonna che ci interessano

iLOC = index localization.
Usa due elementi entrambi interi: gli indici della riga e della colonna

In [9]:
df.loc["Bulbasaur"] #questo ci da la riga corrispondente a Bulbasaur
#df.iloc["Bulbasaur"] non funzionerebbe perchè non abbiamo fornito l'indice

#                  1
Type 1         Grass
Type 2        Poison
Total            318
HP                45
Attack            49
Defense           49
Sp. Atk           65
Sp. Def           65
Speed             45
Generation         1
Legendary      False
Name: Bulbasaur, dtype: object

In [11]:
df.iloc[0] #questo invece funziona

#                  1
Type 1         Grass
Type 2        Poison
Total            318
HP                45
Attack            49
Defense           49
Sp. Atk           65
Sp. Def           65
Speed             45
Generation         1
Legendary      False
Name: Bulbasaur, dtype: object

In [12]:
df.loc["Bulbasaur", "Total"] 
#questo ci da un valore preciso corrispondente alla riga Bulbasaur e alla colonna Total

np.int64(318)

In [ ]:
df.iloc[0, 3] 
#stesso risultato ma modo diverso con iloc (il numero della colonna cala di uno per index_col = 1)

np.int64(318)

PRENDERE PIU' RIGHE

In [ ]:
df.loc["Bulbasaur":"Venusaur"] #slicing con loc(prende anche l'estremo)

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False

In [ ]:
df.iloc[0:3] #slicing con iloc(non prende l'estremo superiore!)

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False

In [ ]:
df.loc[:, ["Type 1", "Type 2"]]
#prende tutte le righe e due colonne con loc

                        Type 1  Type 2
Name
Bulbasaur                Grass  Poison
Ivysaur                  Grass  Poison
Venusaur                 Grass  Poison
VenusaurMega Venusaur    Grass  Poison
Charmander                Fire     NaN
...                        ...     ...
Diancie                   Rock   Fairy
DiancieMega Diancie       Rock   Fairy
HoopaHoopa Confined    Psychic   Ghost
HoopaHoopa Unbound     Psychic    Dark
Volcanion                 Fire   Water

[800 rows x 2 columns]

In [ ]:
df.iloc[:, [1,2]]
#prende tutte le righe e due colonne con iloc

                        Type 1  Type 2
Name
Bulbasaur                Grass  Poison
Ivysaur                  Grass  Poison
Venusaur                 Grass  Poison
VenusaurMega Venusaur    Grass  Poison
Charmander                Fire     NaN
...                        ...     ...
Diancie                   Rock   Fairy
DiancieMega Diancie       Rock   Fairy
HoopaHoopa Confined    Psychic   Ghost
HoopaHoopa Unbound     Psychic    Dark
Volcanion                 Fire   Water

[800 rows x 2 columns]