ORDINARE I DATI:
- per indice crescente e decrescente, per colonna e per colonne

In [1]:
import pandas as pd
df = pd.read_csv("pokemon.csv")

Quando ordiniamo i dati, ci ritorna un altro dataframe. Quindi dobbiamo raccoglierlo

In [ ]:
#ordiniamo per indice crescente

#la sintassi è:
#dataFrame_ordinato = DataFrame.sort_index()

sorted_df = df.sort_index()
sorted_df.head(5)
#ci restituisce il dataframe originale in poche parole

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [3]:
#ordiniamo per indice decrescente

#la sintassi è:
#dataFrame_ordinato = DataFrame.sort_index(ascending = False)

sorted_df = df.sort_index(ascending = False)
sorted_df.head(5)
#ci restituisce il dataframe originale con indici in ordine descrescente

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True

In [ ]:
#ordiniamo per colonna

#la sintassi è:
#dataFrame_ordinato = DataFrame.sort_values(by = "Nome colonna")
#il by ci serve per decidere secondo quale colonna ordinare alfabeticamente
#possiamo anche usare ascending=False così l'ordine è invertito

sorted_df = df.sort_values(by="Name")
sorted_df.head(5)
#ci restituisce il dataframe originale in ordine alfabetico secondo la colonna Name

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,465,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False

In [ ]:
#ordiniamo per colonne

#la sintassi è:
#dataFrame_ordinato = DataFrame.sort_values(by = ["Nome colonna","Nome colonna, ecc"])
#il by ci serve per decidere secondo quali colonne ordinare, le quali vanno inserite come LISTA
#possiamo anche usare ascending=False così l'ordine è invertito per tutte le colonne inserite,
#possiamo anche decidere di usare ascending per una sola colonna o alcune mentre altre non lo usano con
#ascending = [True, False, ecc] con lunghezza pari al numero di colonne che abbiamo nel by

sorted_df = df.sort_values(by=["Total","HP"])
sorted_df.head(5)
#ci restituisce il dataframe originale in ordine e come lo fa?
#ordina la colonna "Total" e quando ci sono dei doppioni ordina per "HP"

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
206,191,Sunkern,Grass,NaN,180,30,30,30,30,30,30,2,False
322,298,Azurill,Normal,Fairy,190,50,20,40,20,40,20,3,False
446,401,Kricketot,Bug,NaN,194,37,25,41,25,41,25,4,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False