AGGIUNGERE, RIMUOVERE E SPOSTARE COLONNE
- aggiungere: una o più con nome, insert(indice, nome, valore), loc[:,"Nome"] = valore
- assign(nome = valore)
- rimuovere con drop, del e pop
- muovere on print loc, iloc, reverse, subset di colonne, df.columns.tolist()

In [23]:
import pandas as pd
df = pd.read_csv("pokemon.csv")

Tutti gli esempi sono fatti con print per NON cambiare il dataframe in modo permanente.
Se volessimo cambiarlo permanentemente, basta assegnarlo ad una nuova variabile o a df di nuovo.

AGGIUNGERE

In [2]:
#una colonna
#la sintassi è:
#dataframe["Nome_nuova_colonna"] = valore
#Questo aggiunge la "nuova colonna" in coda con il valore assegnato al dataframe

df["Wiii"] = "ciao"
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Wiii
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,ciao
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,ciao
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,ciao
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,ciao
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,ciao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,ciao
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,ciao
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,ciao
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,ciao
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,ciao

In [3]:
#più colonne
#la sintassi è:
#dataframe[["Nome_nuova_colonna", "Nome_nuova_colonna", ecc]] = [valore, valore, ecc]
#Questo aggiunge le "nuova colonne" in coda con il valore assegnato al dataframe

df[["Wi","Switch","Gameboy"]] = ["2nd","7th","1st"]
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Wiii,Wi,Switch,Gameboy
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,ciao,2nd,7th,1st
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,ciao,2nd,7th,1st
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,ciao,2nd,7th,1st
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,ciao,2nd,7th,1st
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,ciao,2nd,7th,1st
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,ciao,2nd,7th,1st
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,ciao,2nd,7th,1st
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,ciao,2nd,7th,1st
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,ciao,2nd,7th,1st
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,ciao,2nd,7th,1st

In [4]:
#usiamo INSERT
#la sintassi è:
#dataframe.insert(indice,"Nome",valore)
#Questo inserisce la "nuova colonna" nell'indice, con il nome e con il valore scelti

df.insert(1,"Nome","abcdef") #l'indice 0 è dell'ID
df

,#,Nome,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Wiii,Wi,Switch,Gameboy
0,1,abcdef,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,ciao,2nd,7th,1st
1,2,abcdef,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,ciao,2nd,7th,1st
2,3,abcdef,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,ciao,2nd,7th,1st
3,3,abcdef,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,ciao,2nd,7th,1st
4,4,abcdef,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,ciao,2nd,7th,1st
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,abcdef,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,ciao,2nd,7th,1st
796,719,abcdef,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,ciao,2nd,7th,1st
797,720,abcdef,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,ciao,2nd,7th,1st
798,720,abcdef,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,ciao,2nd,7th,1st
799,721,abcdef,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,ciao,2nd,7th,1st

In [5]:
#usiamo LOC
#la sintassi è:
#dataframe.loc[: ,"Nome_colonna_nuova"] = valore
#Questo inserisce la "nuova colonna" in coda con il nome e con il valore scelti.
#I : servono a dire che la colonna va aggiunta per tutte le righe

df.loc[:, "Wii"] = "abcdef"
df

,#,Nome,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Wiii,Wi,Switch,Gameboy,Wii
0,1,abcdef,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,ciao,2nd,7th,1st,abcdef
1,2,abcdef,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,ciao,2nd,7th,1st,abcdef
2,3,abcdef,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,ciao,2nd,7th,1st,abcdef
3,3,abcdef,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,ciao,2nd,7th,1st,abcdef
4,4,abcdef,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,ciao,2nd,7th,1st,abcdef
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,abcdef,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,ciao,2nd,7th,1st,abcdef
796,719,abcdef,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,ciao,2nd,7th,1st,abcdef
797,720,abcdef,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,ciao,2nd,7th,1st,abcdef
798,720,abcdef,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,ciao,2nd,7th,1st,abcdef
799,721,abcdef,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,ciao,2nd,7th,1st,abcdef

In [7]:
#usiamo ASSIGN
#la sintassi è:
#dataframe_modificato = dataframe.assign(Nome_colonna = valore)
#Questo inserisce la "nuova colonna" in coda con il nome e con il valore scelti.
#Dobbiamo usare = per assegnare questo cambiamento ad un nuovo dataframe e il nome colonna non necessita ""

df = df.assign(Wii = "abcdef")
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Wii
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,abcdef
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,abcdef
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,abcdef
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,abcdef
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,abcdef
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,abcdef
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,abcdef
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,abcdef
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,abcdef
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,abcdef

RIMUOVERE

In [9]:
#usiamo DROP
#la sintassi è:
#dataframe.drop("Nome_colonna_rimuovere", axis = 1)
#Questo rimuove la colonna selezionata. Axis è necessario per selezionare le colonne
#Con inplace=true la rimuove direttamente dal dataframe che abbiamo, altrimenti ne crea un altro.

df.drop("Legendary", inplace=True, axis = 1)
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6

In [11]:
#usiamo DEL
#la sintassi è:
#del dataframe["Nome_colonna_rimuovere"]
#Questo rimuove la colonna selezionata.

del df["Legendary"]
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6

In [22]:
#usiamo POP
#la sintassi è:
#colonna_rimossa = dataframe.pop("Nome_colonna_rimuovere")
#Questo rimuove la colonna selezionata e la prende in una variabile esterna

colPop = df.pop("Legendary")
df.head(2)
colPop.head(2)

0    False
1    False
Name: Legendary, dtype: bool

MUOVERE UNA COLONNA

In [24]:
#con LOC quando stampiamo
#la sintassi è:
#print(dataframe.loc[:,["Nomi_colonne"]])
#Questo ci permette di prendere le colonne in ordine sparso e invertirle
#Con : prendiamo tutte le righe

print(df.loc[:,["Type 1", "Name", "Total", "Attack"]])

      Type 1                   Name  Total  Attack
0      Grass              Bulbasaur    318      49
1      Grass                Ivysaur    405      62
2      Grass               Venusaur    525      82
3      Grass  VenusaurMega Venusaur    625     100
4       Fire             Charmander    309      52
..       ...                    ...    ...     ...
795     Rock                Diancie    600     100
796     Rock    DiancieMega Diancie    700     160
797  Psychic    HoopaHoopa Confined    600     110
798  Psychic     HoopaHoopa Unbound    680     160
799     Fire              Volcanion    600     110

[800 rows x 4 columns]

In [26]:
#con ILOC quando stampiamo
#la sintassi è:
#print(dataframe.iloc[:,[indici_colonne]])
#Questo ci permette di prendere le colonne in ordine sparso e invertirle usando l'indice delle colonne
#Con : prendiamo tutte le righe

print(df.iloc[:,[1, 2, 5, 3]]) 
#il problema di iloc è ricordarsi a quale colonna corrisponde l'indice

                      Name   Type 1  HP  Type 2
0                Bulbasaur    Grass  45  Poison
1                  Ivysaur    Grass  60  Poison
2                 Venusaur    Grass  80  Poison
3    VenusaurMega Venusaur    Grass  80  Poison
4               Charmander     Fire  39     NaN
..                     ...      ...  ..     ...
795                Diancie     Rock  50   Fairy
796    DiancieMega Diancie     Rock  50   Fairy
797    HoopaHoopa Confined  Psychic  80   Ghost
798     HoopaHoopa Unbound  Psychic  80    Dark
799              Volcanion     Fire  80   Water

[800 rows x 4 columns]

In [27]:
#SUBSET di colonne
#la sintassi è:
#print(dataframe[["Nomi colonne sparse"]])
#Questo ci permette di prendere le colonne in ordine sparso

print(df[["Type 1", "Attack", "Name"]])

      Type 1  Attack                   Name
0      Grass      49              Bulbasaur
1      Grass      62                Ivysaur
2      Grass      82               Venusaur
3      Grass     100  VenusaurMega Venusaur
4       Fire      52             Charmander
..       ...     ...                    ...
795     Rock     100                Diancie
796     Rock     160    DiancieMega Diancie
797  Psychic     110    HoopaHoopa Confined
798  Psychic     160     HoopaHoopa Unbound
799     Fire     110              Volcanion

[800 rows x 3 columns]

In [28]:
#usiamo REVERSE: inverte l'indice delle colonne
#sintassi:
#variabile = list(dataframe.columns)
#variabile.reverse()
#dataframe[variabile]

columns = list(df.columns)
columns.reverse()
df[columns]

,Legendary,Generation,Speed,Sp. Def,Sp. Atk,Defense,Attack,HP,Total,Type 2,Type 1,Name,#
0,False,1,45,65,65,49,49,45,318,Poison,Grass,Bulbasaur,1
1,False,1,60,80,80,63,62,60,405,Poison,Grass,Ivysaur,2
2,False,1,80,100,100,83,82,80,525,Poison,Grass,Venusaur,3
3,False,1,80,120,122,123,100,80,625,Poison,Grass,VenusaurMega Venusaur,3
4,False,1,65,50,60,43,52,39,309,NaN,Fire,Charmander,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,True,6,50,150,100,150,100,50,600,Fairy,Rock,Diancie,719
796,True,6,110,110,160,110,160,50,700,Fairy,Rock,DiancieMega Diancie,719
797,True,6,70,130,150,60,110,80,600,Ghost,Psychic,HoopaHoopa Confined,720
798,True,6,80,130,170,60,160,80,680,Dark,Psychic,HoopaHoopa Unbound,720
799,True,6,70,90,130,120,110,80,600,Water,Fire,Volcanion,721

In [29]:
#usiamo df.columns.tolist(): inverte l'indice delle colonne come sopra, solo in modo semplificato
#sintassi:
#variabile = dataframe.columns.tolist()
#variabile.reverse()
#dataframe[variabile]

columns = df.columns.tolist()
columns.reverse()
df[columns]

,Legendary,Generation,Speed,Sp. Def,Sp. Atk,Defense,Attack,HP,Total,Type 2,Type 1,Name,#
0,False,1,45,65,65,49,49,45,318,Poison,Grass,Bulbasaur,1
1,False,1,60,80,80,63,62,60,405,Poison,Grass,Ivysaur,2
2,False,1,80,100,100,83,82,80,525,Poison,Grass,Venusaur,3
3,False,1,80,120,122,123,100,80,625,Poison,Grass,VenusaurMega Venusaur,3
4,False,1,65,50,60,43,52,39,309,NaN,Fire,Charmander,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,True,6,50,150,100,150,100,50,600,Fairy,Rock,Diancie,719
796,True,6,110,110,160,110,160,50,700,Fairy,Rock,DiancieMega Diancie,719
797,True,6,70,130,150,60,110,80,600,Ghost,Psychic,HoopaHoopa Confined,720
798,True,6,80,130,170,60,160,80,680,Dark,Psychic,HoopaHoopa Unbound,720
799,True,6,70,90,130,120,110,80,600,Water,Fire,Volcanion,721